@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="nav navbar-text">
    <p>
        We are a shipping company located in the heart of the city of Margate.<br/>
        We've been operating since 2000 servicing the counties of Miami Dade, Broward, and Palm Beach.
    </p>
</div>

