@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-md-6">
        <h2>Shipping and Logistics</h2>
        <p class="text-info">
            We are a shipping company located in the heart of the city of Margate
            We've been operating since 2000 servicing the counties of Miami Dade, Broward, and Palm Beach.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Delivery and Pickup of Packages</h2>
        <p class="text-info">
            We will update our customers upon arrival of the package to your final destination.
            Our motto is to exceeed our customer expectations by delivering on time as promised.
            We'll track every package, and other goods from start to finish to garantee 100% customer satisfaction.
        </p>
    </div>
</div>

